.wrapper {
    display: grid;
    grid-gap: 10px 5px;
    grid-template-rows: [login] 100px [username] 75px [password] 25px [remember_me] 25px 
    [button] 25px [no_account] 25px [register];
    justify-items: center;
    align-items: center;
    background-color: white;
    height: 100vh;
    margin-bottom: 500px;
  }
  
  .login-tab{
      color: blue;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
  }
  .username, .password {
    font-size: 15px;
    padding: 10px 20px;
  }

  .remember_me{
    margin-top: 30px;
    font-size: 15px;
    color:black;  
  }

  input[type="text"] {
    padding:10px;
    border:none;
    border-bottom:1px solid black;    
 }

 .register-here{
  margin-bottom: 100px;
 }

 .no_account{
   color: black;
   margin-top: 160px;
 }
 .button{
   width: 150px;
  margin-top: 100px;
 }

 .bnt {
  background-color: #2763c4;
  color: white;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  }

  p:link, p:visited, p:hover, p:active {
    text-decoration: none;
  }
  p{
    color: #2763c4;
  }