.wrapper {
    display: grid;
    grid-gap: 10px 5px;
    grid-template-rows: [login] 100px [username] 50px [password] 25px [remember_me] 50px 
    [button] 50px [no_account] 50px [register];
    justify-items: center;
    align-items: center;
  }
  
  .register-head{
      color: blue;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
  }
  .register, .full_name, .email, .password, .confirm_password {
    font-size: 40px;
    padding: 10px 20px;
  }

  .bnt {
  background-color: #2763c4;
  color: white;
  text-align: center;
  font-size: 16px;
  display: inline-block;
  margin: 17px 2px;
  padding-top: 20px;
  }

  .yea{
    padding-top: 100px;
  }

  input[type="text"], input[type="password"], input[type="email"]  {
    padding:10px;
    border:none;
    border-bottom:1px solid black;    
 }