.wrapper {
    display: grid;
    grid-gap: 10px 5px;
    grid-template-rows: [login] 100px [username] 75px [password] 25px [remember_me] 25px 
    [button] 25px [no_account] 25px [register];
    justify-items: center;
    align-items: center;
  }
  
  .register{
      color: blue;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px
  }
  .register, .full_name, .email, .password, .confirm_password {
    font-size: 20;
    padding: 10px 20px;
  }